[Unit]
Description= Blinkstick Network Visualizer
After=blinkstick-cpu.service

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/local/bin/blinkstick-net.sh

