[Unit]
Description= Blinkstick Network Visualizer
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/blinkstick-net.sh

