[Unit]
Description= RGB CPU Visualizer
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/rgb-cpu.sh



