[Unit]
Description= RGB CPU Visualizer
After=fancontrol.service

[Service]
ExecStart=/usr/local/bin/rgb-cpu.sh

[Install]
WantedBy=multi-user.target

